<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/homePage.css"/>
</head>
<body>
    <%- include('./header.ejs') %>
    <div class="container">
        <div class="buttonContainer">
            <button class="button button-2 button-2d"><a href="/easy/gk">General Knowledge</a></button>
            <button class="button button-2 button-2d"><a href="/easy/history">History</a></button>
            <button class="button button-2 button-2d"><a href="/easy/films">Films</a></button>
            <button class="button button-2 button-2d"><a href="/easy/books">Books and Novels</a></button>
        </div>
    </div>
</body>
</html>